.productsWrap {
  display: flex;
  width: calc(100% + 16px * 2);
  flex-wrap: wrap;
  margin-left: -16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  .selectWrap {
    width: 200px;
    margin-left: 40px;
  }
  .col {
    display: flex;
    align-items: center;
  }
}
.productCard {
  width: calc(25% - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}
